:root{
    --text-color:#B7F4E9;
    --background-button:#141B1F;
    --background-herro:#215368;
    --background-button2:var(--text-color);
}

.hero{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.hero_container{
    display: flex;
    height: 100%;
    width: 100%;
}
.hero_image{
    display: flex;
    position: absolute;
    right: 0;
    z-index: -1;
    /* background-color: #141B1F; */
    height: 100%;
   
}
.hero_image img{
    position: relative;
    width: 700px;
    height: 100%;
    /* object-fit: cover; */
    object-fit: fill;
}
.hero_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: var(--text-color);
    background-color: #021b25;
    overflow: hidden;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: left;
    width: 60%;
    height: 100%;
    clip-path:polygon(0 0, 85% 0, 100% 100%, 0 100%);  
}
 
.hero_title{
    font-size: 1.5rem;
    padding: 20px;
}
.hero_paragraph{
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    width: 80%;
    padding: 20px;
}
.hero_button{
    margin-top: 1rem;
    margin-left: 20px;
    padding: 10px;
    font-size: bold;
    background-color: #215368;
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
    text-align: center;
    
}
.hero_button:hover{
    background-color: #358f8f;
    & a{
        color:#e7e7e7;
    }
}

